# Required only for: python src/main.py backup <SOURCE_PATH> <DESTINATION_DIRECTORY> --azure
# Set both values in your local, unversioned environment. Do not place values in this file.
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=
